<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/batch
		http://www.springframework.org/schema/batch/spring-batch.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan
		base-package="es.aitorcuesta.springbatch" />

	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />

	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>
	
	<bean id="simpleTaskExecutor"
		class="org.springframework.core.task.SimpleAsyncTaskExecutor">
		<property name="concurrencyLimit" value="5" />
	</bean>

	<batch:job id="aitorcuestaSpringBatchJob">
		<batch:step id="step1" next="step2">
			<batch:tasklet ref="step1Tasklet" />
		</batch:step>
		<batch:step id="step2" next="step3">
			<batch:tasklet task-executor="simpleTaskExecutor" throttle-limit="5" ref="step2Tasklet" />
		</batch:step>
		<batch:step id="step3">
			<batch:tasklet ref="step3Tasklet" />
		</batch:step>
	</batch:job>

</beans>